<%# もしユーザがお気に入り登録済の場合 %>
<% if current_user.favorite?(article) %>

  <%= link_to article_favorites_path(article_id: article.id), method: :delete, remote: true, class:"font-size-11px " do %>
    <%# <span uk-icon="icon: star; ratio: 1" class="uk-text-muted"></span> %>
    <i class="fas fa-star fa-border" onclick="UIkit.notification({message: 'お気に入りから削除しました。', pos: 'bottom-left',timeout: 2000})"></i>
  <% end %>  

<%# ユーザがお気に入り登録していない場合 %>
<% else %>
  <%= link_to article_favorites_path(article_id: article.id), method: :post, remote: true, class:"font-size-11px" do %>
    <%# <span uk-icon="icon: star; ratio: 1" class="uk-text-muted favorited"></span> %>
    <i class="far fa-star fa-border" onclick="UIkit.notification({message: 'お気に入りに登録しました。', pos: 'bottom-left',timeout: 2000})"></i>
  <% end %>  

<% end %>  