<div class="uk-container">

<div uk-grid>
  <div class="uk-width-1-4">
    <%# プロフィール編集ボタン %>
    <%= link_to (edit_user_path),class:"uk-button uk-button-default" do %>
      <span uk-icon="icon: file-edit; ratio: 1.2"></span>
      <span>プロフィールを編集</span>
    <% end %>

  </div>

  <div class="uk-width-expand"></div>

</div>
