<h1 class='uk-heading-primary'>トップページ</h1>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

      <p class='uk-text-emphasis'>emphasis-TEST</p>
       <p class='uk-text-primary'>primary-TEST</p>
       <p class='uk-text-success'>success-TEST</p>
       <p class='uk-text-warning'>warning-TEST</p>
       <p class='uk-text-danger'>danger-TEST</p>
       <p class='uk-text-left'>left-TEST</p>
       <p class='uk-text-right'>right-TEST</p>
       <p class='uk-text-center'>center-TEST</p>
       <p class='uk-text-top'>top-TEST</p>
       <p class='uk-text-middle'>muddle-TEST</p>
       <p class='uk-text-bottom'>bottom-TEST</p>
       <p class='uk-text-baseline'>baseline-TEST</p>