<div class="top-image-container">
  <div class="top-image-overray">
  <div class="uk-container uk-position-relative">

    <div class="key-message uk-display-inline-block">
      <p class="uk-margin-large-bottom uk-text-bold font-size-32px">ようこそ Recome へ!</p>

      <p class="uk-text-bold">Recomeでは、エンジニアのあなたが見つけたおすすめweb記事を<br>日本中のエンジニアに共有することができます。</p>
      <p class="uk-text-bold">あなたの「困った！」を解決してくれた記事や<br>「参考になるなぁ」と感心した記事に出会ったら、<br>積極的に共有してみましょう！</p>

    </div>

    <div class="top-page-register display-inline-block">
      <p class="uk-display-inline-block uk-margin-small-right">初めての方は</p>
      <%= link_to "ユーザ登録", new_user_registration_path, class:"uk-button uk-button-primary uk-display-inline-block" %><br>

      <p class="uk-display-inline-block uk-margin-medium-right">登録済の方は<%= link_to "こちら",new_user_session_path %>からログイン</p>

    </div>

  </div>
</div>