/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

 @import "uikit.min";

 .font-size-13px{
  font-size:13px;
}

.font-size-12px{
  font-size:12px;
}

 .font-size-11px{
  font-size:11px;
 }

 .font-size-10px{
  font-size:10px;
 }

 .padding-top-and-bottom-10px{
   padding-top:10px;
   padding-bottom:10px;
 }

 .padding-top-and-bottom-5px{
  padding-top:5px;
  padding-bottom:5px;
}

 .margin-top-and-bottom-10px{
  margin-top:10px;
  margin-bottom:10px;
}

.margin-bottom-10px{
  margin-bottom:10px;
}

.margin-bottom-5px{
  margin-bottom:5px;
}


 .uk-navbar-container{
  padding:0 20px;
  position:　fixed;
 }

 .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
   min-height:50px;
 }

 .uk-logo{
   background-image:url("recome-logo.png");
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center center;
   width:50px;
   height:50px;
 }

 .uk-input{
   height:35px;
   font-size: 14px;
 }

 .uk-link-text{
   font-size:14px;
 }

 .articles{
      #url_title_and_image{
        height:90px;
        margin-top:15px;
        margin-bottom:15px;
      }

      .loading{
        background-image: url("gif-load.gif");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50px 50px;
        opacity:0.3;
      }
      
      // Tag-itのオートコンプリートのヘルプメッセージ'No search results.'を非表示
      .ui-helper-hidden-accessible {
        display: none;
      }

      li{
        line-height:16px;
      }

      .tag-form{
          .uk-input{
            height:70px;
          }
      }
 }