/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

//  uikit導入
 @import "uikit.min";

//  font-awesome導入
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 a{
   text-decoration: none !important;
   color: #555 !important;
  }

ul {
    list-style: none;
  }

 .font-size-13px{
  font-size:13px;
}

.font-size-12px{
  font-size:12px;
}

 .font-size-11px{
  font-size:11px;
 }

 .font-size-10px{
  font-size:10px;
 }

 .padding-5px{
  padding:5px;
}

 .padding-10px{
   padding:10px;
 }

 .padding-top-and-bottom-10px{
   padding-top:10px;
   padding-bottom:10px;
 }

 .padding-top-and-bottom-5px{
  padding-top:5px;
  padding-bottom:5px;
}

.margin-5px{
  margin:5px;
}

.margin-10px{
  margin:10px;
}

.margin-15px{
  margin:15px;
}

 .margin-top-and-bottom-10px{
  margin-top:10px;
  margin-bottom:10px;
}

.margin-top-and-bottom-5px{
  margin-top:5px;
  margin-bottom:5px;
}

.margin-top-and-bottom-2px{
  margin-top:2px;
  margin-bottom:2px;
}

.margin-bottom-10px{
  margin-bottom:10px;
}

.margin-bottom-5px{
  margin-bottom:5px;
}

.search-nav-bar{
  width:300px;
  background-color:white;
  line-height:18px;
}


 .uk-navbar-container{
  padding:0 20px;
  position:　fixed;
 }

 .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
   min-height:50px;
 }

 .uk-logo{
   background-image:url("recome-logo.png");
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center center;
   width:50px;
   height:50px;
 }

 .uk-input{
   height:35px;
   font-size: 14px;
 }

 .uk-link-text{
   font-size:14px;
 }

 mark{
   background-color:#ffd700;
 }

 .tag{
  background: none; /*背景を消す*/
  border: 1px solid #ccc; 
  border-radius: 20px; /*角の丸み*/
  color: #555 !important; /*文字色*/
  display: inline-block;
  padding: 0 7px;
  margin: 2px;
}

.fas.fa-star{
  color:#ff7f50;
  font-size:17px;
}

.far.fa-star{
  color:#808080;
  font-size:17px;
}

.favorite-button{
  position: relative;
}

.favorite-button-text {
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
  transition: opacity 1s;
  visibility: hidden;
	text-align: center;
	opacity: 1;
	color: #ffffff;
	border-radius: 6px;
	background-color: #da3c41;
}
.favorite-button-text::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
	border-top-color: #da3c41;
}
.visible {
	visibility: visible;
	opacity: 1;
}

.uk-border-circle{
  object-fit:cover;

  &.user-edit-image{
    height:100px;
    width:100px;
  }

  &.user-show-image{
    height:150px;
    width:150px;
  }

  &.user-show-image-index{
    height:30px;
    width:30px;
  }

  &.related-user-show-image-index{
    height:50px;
    width:50px;
  }
}

.tab-font-size{
  font-size:18px !important;
}

.fontcolor-white{
  color:white;
}

// マイページのタブのCSSデザイン

.mypage_tab{
  display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    position: relative;
}

.mypage_tab > * > a {
  display: block;
  margin-right:20px;
  text-align: center;
  padding: 5px 10px;
  color: #999;
  border-bottom: 1px solid transparent;
  font-size: .875rem;
  text-transform: uppercase;
  transition: color .1s ease-in-out;
}

.mypage_tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  border-bottom: 1px solid #e5e5e5;
  z-index: -1;
}

.mypage_tab > .uk-active > a {
  color: #333;
  border-bottom:1px solid #1e87f0 !important;
}

.related-user-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.mini-container{
  display:flex;
  align-items: center;
}

.register-tag-index{
  height:300px;
  overflow: scroll;
  overflow-x: hidden;
}

 .articles{
      #url_title_and_image{
        height:90px;
        margin-top:15px;
        margin-bottom:15px;
      }

      .loading{
        background-image: url("gif-load.gif");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50px 50px;
        opacity:0.3;
      }
      
      // Tag-itのオートコンプリートのヘルプメッセージ'No search results.'を非表示
      .ui-helper-hidden-accessible {
        display: none;
      }

      li{
        line-height:16px;
      }

      .tag-form{
          .uk-input{
            height:70px;
          }
      }
 }