<div uk-drop="mode: click">
    <div class="uk-card uk-card-body uk-card-default">
      <p class="uk-text-small uk-margin-remove"><%= subject %>には
        <%= link_to "ユーザ登録", new_user_registration_path, class:"" %>
        か、<%= link_to "ログイン",new_user_session_path %>が必要です。
      </p>
    
    </div>
</div>