        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" id="register_tag_form_close" type="button" uk-close></button>
                <%# タグ一覧 %>
                <div class="register-tag">

                <%# 検索窓 %>
                <%= form_with url: tag_search_users_path, method: :get, html: {class: "uk-search uk-search-default",style:"width:300px;"},remote: true do  %>
                  <%= text_field_tag :keyword, nil, placeholder:"タグ名を入力", class:"uk-search-input", id:"favorite-tag-search",style:"width:300px;" %>
                  <%= hidden_field_tag :id, current_user.id %>
                  <%# 検索ボタンをuikitのアイコンにしたいがためにaタグでsubmit%>
                  <a href='#' onclick="$('#favorite-tag-search').submit()" class="uk-search-icon-flip" uk-search-icon ></a>
                <% end %>

                <%# タグ登録時、バリデーションエラーに引っかかったら非同期でここにフラッシュメッセージを表示 %>
                <div id="tag-error-alert"></div>  

                  <p>タグ一覧</p>
                    <div class="register-tag-index" id="register-tag-index">
                      <%# 登録タグ一覧 %>
                      <%= render partial: 'users/register_tag_index',  collection: ActsAsTaggableOn::Tag.all, as: :tag, locals:{user: current_user}  %>
                    </div>
                </div>

            </div>
        </div>

<script>
// モーダルの閉じるボタンが押されたらバリデーションのエラーメッセージを消す
$("#register_tag_form_close").on("click",function(){
  $("#tag-error-alert").html("");
});


</script>